.donut-chart {
    .percent-text {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        font-size: 25px;
    }
    .label-text {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: lighter;
        font-size: 10px;
    }
}
