.home{
    display:flex;
    flex-direction:row;

    .chart{
        margin-right:30px;
        align-self:flex-start;
    }
    .right-col{
        width:100%;
    }

    .pagination{
        margin-top:25px;
    }
    .loading{
        opacity:0.1
    }
    .message-type{
        display:flex;
        width:100px;
        margin-bottom:30px;
        .message-type-option{
            color:#00B39F;
            cursor:pointer;
            margin-right:30px;
            font-weight:800;

            &:hover{
                opacity:0.5;
            }
        }

        .active{
            color: #131313
        }
    }
}
